@model IEnumerable<DistantLearning.Models.AnswerComplete>

@{
    ViewData["Title"] = "Прохождение теста";
}

<h1>Прохождение теста</h1>

<h4>@ViewData["Testname"]</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                ответ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.QuestionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.ActionLink("Ответить","Edit","AnswerCompletes", new { id = item.AnswerCompleteId})
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
