@model IEnumerable<DistantLearning.Models.AnswerComplete>

@{
    ViewData["Title"] = "Index";
}

<h1>Вопросы </h1>

<p>
    <a asp-action="Create">Создать вопрос</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RightAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestComplete.TestCompleteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.QuestionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnswerCompleteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnswerCompleteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnswerCompleteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
